<div>
  <div>
    <table mat-table [dataSource]="userList" #matTable>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><div>Имя</div>
          <div><input placeholder="введи поисковый запрос" type="text" [(ngModel)]="searchFields.name"></div></th>
        <td mat-cell *matCellDef="let user">{{user.name}} ({{user.username}})</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef><div>Электронная почта</div>
          <div><input placeholder="введи поисковый запрос" type="text" [(ngModel)]="searchFields.email"></div>
        </th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef><div>Адрес</div>
          <div><input placeholder="введи поисковый запрос" type="text" [(ngModel)]="searchFields.address"></div></th>
        <td mat-cell *matCellDef="let user">{{[user.address.zipcode, user.address.city, user.address.street, user.address.suite].join(' ')}} </td>
      </ng-container>
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef>Кнопа</th>
        <td mat-cell *matCellDef="let user"><button mat-button (click)="showMap(user.address.geo)">Показать место</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'email', 'address', 'button']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'address', 'button'];"></tr>
    </table>
  </div>
</div>
